.comment-title {
    display: block;
    font-weight: 600 !important;
    font-size: 20px !important;

    padding: 6px 0 !important;
    color: #3399ff !important;
    text-transform: uppercase !important;
    border-bottom: 1px dotted !important;
    background: #f1f1f1;
    margin-bottom: 32px !important;
    margin-top: 50px !important;
}

.comment-area {
    overflow: hidden;
    background: #fff;
    margin-bottom: 5px;
    border-bottom: 10px solid #f1f1f1;
    position: relative;
}

.Comment-author {
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    height: 100%;
    margin-right: 20px;
}

.Comment-author img {
    border-radius: 50%;
    border: 5px solid #3399ff;
}

.comment-author-name {
    font-size: 19px !important;
    font-weight: 600 !important;
    margin-bottom: 0px;
    padding: 0px;
}

.comment-author-email {
    margin: 0;
    font-size: 15px !important;
    font-style: italic;
    font-weight: 600 !important;
    color: #3399ffc9;
}

p.comment {
    font-weight: 400;
    font-size: 16px;
    margin: 9px 15px;
    border-left: 2px solid #3399ff;
    padding: 2px 11px 7px;
}

button.replay-btn {
    position: absolute;
    right: 2%;
    top: 10%;
    background: none;
    border: none;
    color: #3399ff;
    font-size: 15px;
    padding: 10px;
    font-weight: 200;
    font-style: italic;
    cursor: pointer;
}