.side-items {
    list-style: none;
    margin-block-start: -5px;
}

.side-items li {
    background: #3399ff;
    color: #fff;
    margin: 4px 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}

h3.bartitle {
    font-size: 22px;
    font-weight: 500;
    color: #201e1e;
    border-bottom: 1px dashed #3399ff;
    padding-bottom: 10px;
    padding-top: 5px;
}

.comment-title.post-count {
    display: block;
    font-weight: 600 !important;
    font-size: 17px !important;
    padding: 6px 0 !important;
    color: #000 !important;
    text-transform: uppercase !important;
    border-bottom: 1px dashed #3399ff !important;
    background: #f1f1f1;
    margin-bottom: 20px !important;
    margin-top: 12px !important;
}